@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --clr-blue: hsl(246, 80%, 60%);

  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);
}

body {
  margin: 0;
  background-color: var(--clr-very-dark-blue);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: white;
}

main {
  display: grid;
  place-items: center;
  gap: 3.5rem;
}

.user-card {
  .user-header {
    box-sizing: border-box;
    background-color: var(--clr-blue);
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    img {
      width: 3rem;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: .5rem;
    }
    h1 {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      a {
        display: block;
        font-size: 1.5rem;
      }

    }
  }
  // .user-card styles
  margin-top: 3rem;
  box-sizing: border-box;
  background-color: var(--clr-dark-blue);
  width: min(100% - 3rem, 40rem);
  border-radius: 1rem;
  .time-frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; // keeps the timeframes from scretching horizontaly in desktop view thus improving the click listener 
    padding: 1rem;
    color: var(--clr-desaturated-blue);
    .active-time-frame { // toggle this with state
      color: white;
    }
    a:hover {
      cursor: pointer;
    }
  }
}

.card {
  box-sizing: border-box;
  background-color: var(--clr-dark-blue);
  width: min(100% - 3rem, 40rem);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr .3fr; // .3 fr because 3 dots img doesn't need much space
  align-items: center;
  position: relative;
  &:active { // change card's color on click
    background-color: hsl(236, 42%, 35%);
    cursor: pointer;
  }
  &:last-of-type { // last card
    margin-bottom: 3rem;
  }
  &::before { // card's top tab
    content: '';
    width: 100%;
    height: 5rem;
    position: absolute;
    top: -2rem;
    z-index: -5;
    background-color: red; // color will be overridden
    border-radius: 1rem;
    // background image styling
    background-position: right 1rem top -.8rem;
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  img {
    justify-self: end;
    cursor: pointer;
    &:hover {
      filter:  brightness(0) invert(1); // turns img white on hover
    }
  }
  p {
    margin: 0;
    margin-top: .5rem;
    font-weight: 300;
  }
  .current-hours {
    font-size: 2rem;
  }
  .previous-hours {
    justify-self: end;
    font-size: 1rem;
    color: var(--clr-pale-blue);
  }

}

.work::before {
  background-color: var(--clr-work);
  background-position: right 1rem top -.8rem;
  background-repeat: no-repeat;
  background-image: url(./images/icon-work.svg);
}

.play::before {
  background-color: var(--clr-play);
  background-image: url(./images/icon-play.svg);
}

.study::before {
  background-color: var(--clr-study);
  background-image: url(./images/icon-study.svg);
}

.exercise::before {
  background-color: var(--clr-exercise);
  background-image: url(./images/icon-exercise.svg);
}

.social::before {
  background-color: var(--clr-social);
  background-image: url(./images/icon-social.svg);
}

.self-care::before {
  background-color: var(--clr-self-care);
  background-image: url(./images/icon-self-care.svg);
}

.attribution {
  font-size: 11px; text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}


@media only screen and (min-width: 992px) {
  body { // center content
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: calc(100% - 10rem);
    width: 70rem;
    width: min(100% - 10rem, 70rem);
    height: 60vh;
  }

  .user-card, .card {
    width: 100%;
  }

  .user-card {
    margin-top: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    .user-header {
      height: 70%;
      flex-direction: column;
      align-items: start;
      img {
        margin-bottom: 2rem;
        width: 4rem;
      }
        h1 a {
          font-size: 2.5rem;
        }
    }
    .time-frame {
      box-sizing: border-box;
      flex-direction: column;
      // justify-content: space-between;
      // align-content: space-between;
      font-weight: 300;
      height: 30%;
    }
  }

  .card {
    height: calc(100% - 2rem);
    padding: 1rem;
    margin-top: 2rem; // fixes misalignment caused by card's top tab
    h2 {
      font-size: .9rem;
    }
    .current-hours, .previous-hours {
      grid-column: span 2;
    }
    .current-hours {
      font-size: 3rem;
    }
    .previous-hours {
      justify-self: start;
      font-size: .9rem;
    }
    &:last-of-type { // last card
      margin-bottom: 0;
    }
  }
  
  .attribution {
    margin-top: 1rem;
  }
}